<div class="container mt-5">
  <% if flash %>
    <% flash.each do |key, value|%>
      <div data-controller="notice">
        <div class="alert <%= flash_class(key) %> d-flex align-items-center" role="alert"  id="notice">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
          <div>
            <p class="m-0 p-0 fs-4"><%= value  %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-7 mb-4 mb-md-0">
      <div class="owl-carousel pdp-carousel testimonial-carousel">
        <% @property.images.each do |image| %>
          <div class="item">
            <%= image_tag image, class: "img-fluid" %>
          </div>
        <% end %>
      </div>
      <div class="mt-2 d-none d-md-block">
        <!-- Miniaturas de las imágenes -->
        <div class="row d-flex align-items-center justify-content-center">
          <% @property.images.each do |image| %>
            <div class="col-md-2 mb-2">
              <%= image_tag image, class: "img-fluid thumbnail" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h1 class="text-primary">
        <%= @property.name %>
      </h1>
      <p><strong>Dirección:</strong> <%= @property.direction %></p>
      <p><strong>Precio:</strong> <%= number_to_currency(@property.price) %></p>
      <p><strong>Metros cuadrados:</strong> <%= @property.square_meter %> m²</p>
      <p><strong>Habitaciones:</strong> <%= @property.beds %></p>
      <p><strong>Baños:</strong> <%= @property.bathrooms %></p>
      <p><strong>Tipo de propiedad:</strong> <%= @property.property_type.humanize %></p>
      <p><strong>En venta o alquiler:</strong> <%= @property.sale_or_rent.humanize %></p>
      <h2 class="text-primary mt-4">Agendar Cita</h2>
      <% if current_user %>
        <%unless Appointment.where(user_id: current_user.id, property_id: @property.id).empty?%>
          <p class="text-danger">Ya tienes una cita agendada para esta propiedad.</p>
        <%else%>
          <%= render 'appointments/form', disabled_dates: @disabled_dates%>
        <%end%>
      <% else %>
        <p class="text-danger">Debes iniciar sesión para agendar una cita.</p>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <%= link_to "Volver a las Propiedades", properties_path, class: "btn btn-primary shadow mt-3 mx-auto w-50 w-md-25"%>
  </div>
</div>