<div class="w-100 w-md-75">
  <div class="alert alert-warning d-none" id="warning-dates" role="alert">
    Ya hay una cita agendada para esa fecha y hora, intenta con otra hora u otro día
  </div>
  <%= form_with url: appointments_path do |form| %>
    <div class="form-group">
      <%= form.label :name, "Nombre" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :phone, "Teléfono" %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>    
    <div class="form-group">
      <%= form.label :date, "Fecha de la cita" %>
      <%= form.text_field :date, data: { controller: "calendar", dates: disabled_dates }, class: "form-control" %>
    </div>
    <%= form.hidden_field :property_id, value: @property.id %>
    <%= form.hidden_field :user_id, value: current_user.id%>
    <%= form.submit "Agendar Cita", class: "btn btn-primary mt-2" %>
  <% end %>
</div>