<div id="<%= dom_id property %>" class="container mt-4">
  <h1 class="fs-4 mb-4">Detalles de la Propiedad</h1>

  <div class="row">
    <div class="col-md-6">
      <p class="fs-5 mb-4">
        <strong>Nombre de la Propiedad:</strong>
        <%= property.name %>
      </p>

      <p class="fs-5 mb-4">
        <strong>Direcci칩n de la Propiedad:</strong>
        <%= property.direction %>
      </p>

      <p class="fs-5 mb-4">
        <strong>Precio de la Propiedad:</strong>
        <%= property.price %>
      </p>

      <p class="fs-5 mb-4">
        <strong>Metros cuadrados de la Propiedad:</strong>
        <%= property.square_meter %>
      </p>

      <p class="fs-5 mb-4">
        <strong>Rec치maras de la Propiedad:</strong>
        <%= property.beds %>
      </p>

      <p class="fs-5 mb-4">
        <strong>Ba침os de la Propiedad:</strong>
        <%= property.bathrooms %>
      </p>

      <p class="fs-5 mb-4">
        <strong>Tipo de la Propiedad:</strong>
        <%= property.property_type.capitalize %>
      </p>
            
      <div>
        <%= link_to "Editar esta Propiedad", edit_admin_property_path(@property), class:"btn btn-primary mb-2" %> |
        <%= link_to "Regresar a las Propiedades Registradas", admin_properties_path, class:"btn btn-primary mb-2" %>

        <%= button_to "Eliminar esta Propiedad",admin_property_path(@property), method: :delete, class:"btn btn-danger mb-2" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex align-items-center justify-content-center flex-column">
        <h2 class="fs-4 mb-4">Im치genes de la Propiedad</h2>
        <div class="row">
          <% property.images.each do |img| %>
            <div class="col-12 col-md-6 mb-3">
              <div class="card">
                <%= image_tag img, class: "card-img-top img-fluid" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
