<div id="<%= dom_id property %>">
  <p>
    <strong>Name:</strong>
    <%= property.name %>
  </p>

  <p>
    <strong>Direction:</strong>
    <%= property.direction %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Square meter:</strong>
    <%= property.square_meter %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= property.beds %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= property.property_type %>
  </p>

</div>
