<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <!-- Tus símbolos aquí -->
</svg>

<% if notice %>
  <div data-controller="notice">
    <div class="alert alert-success d-flex align-items-center" role="alert" id="notice">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>
        <p class="m-0 p-0 fs-4"><%= notice %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <h1 class="text-center mt-5">Propiedades Registradas</h1>
  <div class="d-flex align-items-center justify-content-end mt-3">
    <%= link_to "Añadir Propiedad", new_admin_property_path, class: "btn btn-primary"%>
  </div>

  <div class="table-responsive mt-3">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre Propiedad</th>
          <th scope="col">Dirección Propiedad</th>
          <th scope="col">Precio</th>
          <th scope="col">Metros Cuadrados</th>
          <th scope="col">Recámaras</th>
          <th scope="col">Baños</th>
          <th scope="col">Tipo de Propiedad</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <th><%= property.id %></th>
            <th><%= property.name %></th>
            <th><%= property.direction %></th>
            <th><%= number_to_currency(property.price, unit: "$", separator: ".", delimiter: ",") %></th>
            <th><%= property.square_meter %> m²</th>
            <th><%= property.beds %></th>
            <th><%= property.bathrooms %></th>
            <th><%= property.property_type %></th>
            <th><%= link_to "Ver", admin_property_path(property), class: "btn btn-primary w-100" %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="pagination justify-content-center"> <!-- Centra los enlaces de paginación -->
      <%= will_paginate @properties, :page_links => false, class: "gap-2" %>
    </div>

  </div>
</div>
