
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5 mx-auto">
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Contáctanos</h5>
        <p class="mb-2">
          <i class="fa fa-map-marker-alt me-3"></i>
          Avenida honorable Ayuntamiento 605-int 21, Real Bugambilias, 28979 Villa de Álvarez, Col.
        </p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+312 101 6535</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>cbc.colima@gmail.com</p>
        <div class="d-flex pt-2">
          <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/centralbrokerscolima/" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/p/Central-Brokers-Colima-100063700682889/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/channel/UCdB3FJ1tmkft30W8elTmnfg"  target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Enlaces Rápidos</h5>
        <%= link_to "Inicio", root_path, class: "btn btn-link text-white-50" %>
        <%= link_to "Nosotros", nosotros_path, class: "btn btn-link text-white-50" %>
        <%= link_to "Contacto", contacto_path, class: "btn btn-link text-white-50" %>
        <%= link_to "Propiedades", plp_page_path, class: "btn btn-link text-white-50" %>
        <%= link_to "Iniciar Sesión", new_user_session_path, class: "btn btn-link text-white-50"%>
      </div>
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Galería</h5>
        <div class="row g-2 pt-2">
          <% 6.times do |num|%>
            <div class="col-4">
              <%= image_tag "property-#{num+1}.jpg", class: "img-fluid rounded bg-light p-1"%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">CBC inmobiliaria</a>, Todos los Derechos Reservados.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="https://htmlcodex.com">MIMO's web Design and Development</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->