<header class="header shadow" id="header">
  <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
  <div class="header_img"> <%= current_user.email %> </div>
</header>
<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div> 
      <%= link_to admin_properties_path, class: "nav_logo" do%>
        <i class='bx bxs-layer nav_logo-icon'></i> 
        <span class="nav_logo-name">CBC Administrador</span> 
      <% end %>
      <div class="nav_list"> 
        <%= link_to admin_properties_path, class:"nav_link #{"active" if current_page?(admin_properties_path)}" do %>
          <i class='bx bxs-building-house nav_icon'></i> 
          <span class="nav_name">Propiedades</span> 
        <% end %>
        <%= link_to admin_users_path, class:"nav_link #{"active" if current_page?(admin_users_path)}" do %>
          <i class='bx bx-user nav_icon'></i>
          <span class="nav_name">Usuarios</span> 
        <% end %>
        <%= link_to admin_appointments_path, class:"nav_link #{"active" if current_page?(admin_appointments_path)}" do %>
          <i class='bx bxs-bookmarks nav_icon'></i>
          <span class="nav_name">Citas</span> 
        <% end %>
        
      </div>
    </div> 
    <%= link_to destroy_user_session_path, class: "nav_link", data: { turbo_method: :delete } do %>
    <i class='bx bx-power-off nav_icon'></i>
     <span class="nav_name">Cerrar Sesión</span>
    <% end %>
  </nav>
</div>